# Get a new token from: https://github.com/MaxOpperman/spelwijsheid/settings/actions/runners/new
GITHUB_RUNNER_TOKEN=YOUR_TOKEN_HERE

# Docker group ID (run: getent group docker | cut -d: -f3)
DOCKER_GID=999
