# Get a new token from: https://github.com/USER/REPO/settings/actions/runners/new
GITHUB_RUNNER_TOKEN=YOUR_TOKEN_HERE
# Repository URL (e.g. of this repo)
GITHUB_REPOSITORY_URL=https://github.com/MaxOpperman/spelwijsheid

# Docker group ID (run: getent group docker | cut -d: -f3)
DOCKER_GID=999

# GitHub Actions Runner version
RUNNER_VERSION=2.329.0

RUNNER_NAME=runner-1
RUNNER_WORKDIR=_work
RUNNER_LABELS=docker,self-hosted

# AI API Configuration
OLLAMA_API_URL=http://example-ollama-api.com
OLLAMA_MODEL=gpt-oss